[Desktop Entry]
Type=Application
Name=Pico DMX Controller
Comment=Open the Pico DMX lighting controller
Exec=pico-dmx-controller
Icon=pico-dmx-controller
Terminal=false
Categories=AudioVideo;
StartupNotify=true
StartupWMClass=pico-dmx-controller
X-PicoDmx-PackagedShortcut=true
