[PHP]
engine = On
short_open_tag = Off
precision = 14
output_buffering = 4096
zlib.output_compression = Off
expose_php = Off
max_execution_time = 120
max_input_time = 120
memory_limit = 512M
error_reporting = E_ALL
display_errors = Off
display_startup_errors = Off
log_errors = On
error_log = "@LOG_ROOT@/php-error.log"
post_max_size = 128M
upload_max_filesize = 128M
max_file_uploads = 8
default_charset = "UTF-8"
file_uploads = On
allow_url_fopen = On
allow_url_include = Off
open_basedir = "@APP_ROOT@;@DATA_ROOT@;@LOG_ROOT@;@TEMP_ROOT@"
sys_temp_dir = "@TEMP_ROOT@"
session.save_path = "@TEMP_ROOT@"
variables_order = "GPCS"

[Date]
date.timezone = "Europe/Zurich"
